<form class="ui stacked segment form" action="/dashboard/addComment/{{id}}" method="POST">
  <div class="one field">
    <div class="field">
      <label>Comment</label>
      <input type="text" name="comment">
    </div>
    
  </div>
  <button class="ui blue submit button">Add Comment</button>
</form>