<table class="ui celled table">
  <thead>
    {{> member-header}}
  </thead>
  <tbody>
    {{#each members}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          Edit and Delete buttons eventually
          <a href="/trainerdashboard/{{id}}" class="ui icon button">
      <i class="folder open icon"></i>
    </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>