<table class="ui celled table">
  <thead>
    {{> member-header}}
  </thead>
  <tbody>
    {{#each members}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          <a href="/trainerdashboard/{{id}}" class="ui icon button">
            <i class="folder open icon"></i>
          </a>
          <a href="/trainerdashboard/deleteMember/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>