{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Gym Application
  </h3>
  <p>
    Gym Application Version 1
  </p>
  <p>
    <ul>
      <li>Create assessments</li>
      <li>Create members</li>
      <li>Review Assessments</li>
      <li>Calculate BMI</li>
    </ul>
  </p>
</section>