{{> trainer-menu id="trainer-member"}}
{{#each assessments}}
<section class="ui segment">
  <h2 class="ui header">
    {{name}}
  </h2>
  {{> trainer-assessment-table}}
  {{> addcomment}}
</section>
{{/each}}